---
title: Home
description: The latest app to help you find new friends with common interests.
image: /images/topImage.jpeg
bottom_image: /images/bottomImage.jpeg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Find your inner tranquility at Zen Hills Blue Ridge</h1>
			<p class="subtext editable">Our Two bedroom, one bath tree house in the heart of Blue Ridge and steps away from Aska Mountain Recreation Area.</p>
			<div class="cta button alt"><a href="#">Book Today!</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">

<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">"The Conservatory" a Modern Treehouse - Expected Completion May 2025</h2>
				<ul>
					<li>All of the charm and surroundings of a treehouse wrapped in a modern art deco home </li>
					<li>Sitting atop Zen Hill just 3 minutes from downtown Dining</li>
					<li>Stunning views from every room in the house along with a spacious deck overlooking the mountains</li>
					<li>Escape and recharge in the heart of Blue Ridge</li>	
					
				</ul>
			</div>
			<div class="image">
				<img class="editable" src="images/Treehouserendering.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>
	
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Waldo's Hideway - Expected Completion May 2025</h2>
				<ul>
					<li>Unwind, recharge, and experience the charm of a simpler time</li>
					<li>Waldo's Hideaway is nestled along the serene slopes of Zen Hill, beneath a canopy of trees</li>
					<li>Secluded at the end of an old wagon trail, The Hideaway offers ultimate privacy and tranquility</li>
					<li>The inside is remarkably styled as a 21st Century Speakeasy</li>	
					
				</ul>
			</div>
			<div class="image">
				<img class="editable" src="images/imageHomepage1.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Aska Adventure Area</h2>
				<p class="editable">Aska Adventure Area, near Blue Ridge, GA, is a popular outdoor recreation destination known for its scenic hiking and mountain biking trails. The area spans 17 miles of trails that wind through the Chattahoochee National Forest, offering breathtaking views of mountains, rivers, and forests. It is also a hub for fishing, tubing, and other water-based activities along the Toccoa River.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/AskaAdventureArea.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About Blue Ridge</h2>
				<p class="editable">Blue Ridge, GA, is a charming mountain town known for its stunning natural beauty, with access to the Appalachian Mountains and the scenic Blue Ridge Lake. The town offers a mix of outdoor activities, from hiking and fishing to scenic railway tours, along with a vibrant arts scene, boutique shopping, and farm-to-table dining. Its peaceful atmosphere and breathtaking views make it a perfect getaway for nature lovers and those seeking a relaxing mountain retreat.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/blueridgeproper.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Come stay at our modern mountain getaway</h2>
				<p class="subtext editable">Endless Memories in Blue Ridge</p>
				<div class="cta button alt"><a href="#">Book Now</a></div>
			</div>
		</div>
	</section>
</div>
